#aboutCar  {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

#navBar {
  display: flex;
  flex-direction: row;
  background: none;
  justify-content: center;
  height: 14rem;
}

.navContent {
  display: flex;
  align-items: flex-end;
}

.NavbarAboutCar {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  align-items: flex-end;
  height: 14rem;
  gap: 5rem;
}

.NavbarAboutCar > li{
  position: relative;
  cursor:pointer;
  transition: all 400ms ease;
}


.NavbarAboutCar > li h3::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 0.3rem;
  background: #800000;
  transition: all 1s ease;
}


.NavbarAboutCar h3:hover::before {
  width: 100%;
}

#underline {
  text-decoration: underline;
  text-underline-position: under;
  line-height: 14rem;
}

.gridSectionAboutCarContent {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
  justify-content: center;
  height: 100%;
}

.articleAboutCar {
  text-align: right;
  align-self: center;
}

@media (max-width: 768px){
  .sectionAboutCarContent {
    grid-template-columns: 1fr;
  }
}
