#aboutCar  {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

#navBar {
  display: flex;
  flex-direction: row;
  background: none;
  justify-content: center;
  height: 14rem;
}

.navContent {
  display: flex;
  align-items: flex-end;
}

.NavbarAboutCar {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  align-items: flex-end;
  height: 14rem;
  gap: 5rem;
}

.NavbarAboutCar > li{
  position: relative;
  cursor:pointer;
  transition: all 400ms ease;
}


.NavbarAboutCar > li h3::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 0.3rem;
  background: #800000;
  transition: all 1s ease;
}


.NavbarAboutCar h3:hover::before {
  width: 100%;
}

#underline {
  text-decoration: underline;
  text-underline-position: under;
  line-height: 14rem;
}

.gridSectionAboutCarContent {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
  justify-content: center;
  height: 100%;
}

.articleAboutCar {
  text-align: right;
  align-self: center;
}

@media (max-width: 768px){
  .sectionAboutCarContent {
    grid-template-columns: 1fr;
  }
}


/*.post-card {
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: box-shadow .3s ease-in-out;
  margin: 15px 0;
  cursor: pointer;
}

.post-card:hover {
  box-shadow: 0px 10px 20px #838383;
}

.post-card img {
  width: 100%;
}

.post-card p {
  margin: 0;
  padding: 10px 0;
  width: 100%;
  text-align: center;
  background-color: white;
  font-family: Nunito, sans-serif;
  letter-spacing: 5px;
  text-transform: uppercase;
}*/
