.bannerContainer{
  display: flex;
  width: 100%;
  height: 100vh;
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bannerContainer::before {
  content: '';
  position:absolute;
  z-index: 0;
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(31, 31, 31, 0.7);
}

.text{
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: fit-content;
  width: 100%;
  height: 100vh;
}

.title{
  display: flex;
  align-items: flex-end;
  padding-bottom: 20px;
  width: 60rem;
  height: 60%;
  color: #BDBDBD;
}

.titleBanner{
  font-style: normal;
  font-size: 45px;
  font-weight: normal;
  line-height: 57px;
  text-transform: none;
}

.subtitle{
  width: 50rem;
  height: 40%;

  border-top: 4px solid #E5E5E5;
  border-left: 4px solid #E5E5E5;
  color: #BDBDBD;
}

.subtitleBanner{
  padding: 20px 0 0 22px;
  width: fit-content;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 30px;
  text-transform: none;
}


@media (max-width: 564px) {
  .text{
    padding-left: 6rem;
  }

  .title{
    width: 40rem;
    height: 50%;
  }

  .titleBanner{
    font-size: 30px;
    line-height: 37px;
  }

  .subtitle{
    width: 40rem;
    height: 50%;
  }

  .subtitleBanner{
    font-size: 20px;
    line-height: 24px;
  }
}

@media (max-width: 484px){
  .titleBanner{
    font-size: 28px;
    line-height: 32px;
  }
}
