img {
  width: 100%;
}

#Navbar {
  display: flex;
  flex-direction: row;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  justify-content: center;
  height: 12rem;
}

.LogoNav {
  width: 6.2rem;
  height: 6.4rem;
}

.connect {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.NavBarList {
  display: flex;
  justify-content: space-evenly;
  gap: 2rem;
}

.NavBarList > li{
  position: relative;
  cursor:pointer;
  transition: all 400ms ease;
  color: #BDBDBD;
}

.NavBarList > li a::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 0.15rem;
  background: #BDBDBD;
  transition: all .3s ease;
  width: 100%;
}

.NavBarList > li:focus {
  font-weight: 700;
}

.NavBarList > li a:focus::before {
  width: 100%;
  height: 0.3rem;
  background: #FFD31A;
}

.MenuMobile img {
  display: none;
}

@media (max-width: 769px) {
  .NavBarList {
    transition: all .5s;
    flex-direction: column;
    position: absolute;
    gap:7rem;
    justify-content: center;
    padding: 5rem;
    z-index: -1;
    top: -5rem;
    right: -5rem;
    width: 75vw;
    height: 90rem;
    align-items: flex-end;
    border-radius: 0 0 0 10rem;
    background: linear-gradient(270deg, #800000 5.56%, rgba(31, 31, 31, 0.92) 100%);
  }

  .ClosedMenuMobile li{
    display: none;
  }

  .NavBarList li {
    /*opacity: 0;*/
    font-size: 2.74rem;
    font-weight: 700;
    text-decoration: none;
    top: 1rem;
  }

  .MenuMobile img {
    display: block;
  }

}

@media (max-width: 376px) {
  .NavBarList {
    width: 100vw;
    height: 90rem;
  }
}
