img {
  width: 100%;
}

#Navbar {
  display: flex;
  flex-direction: row;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  justify-content: center;
  height: 12rem;
}

.LogoNav {
  background: #FFD31A;
  width: 6.2rem;
  height: 6.4rem;
}

.connect {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.NavBarList {
  display: flex;
  justify-content: space-evenly;
  gap: 2rem;
}

.NavBarList > li{
  position: relative;
  cursor:pointer;
  transition: all 400ms ease;
  color: #BDBDBD;
}

.NavBarList > li a::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 0.15rem;
  background: #BDBDBD;
  transition: all .3s ease;
  width: 100%;
}

.NavBarList > li:focus {
  font-weight: 700;
}

.NavBarList > li a:focus::before {
  width: 100%;
  height: 0.3rem;
  background: #FFD31A;
}

.MenuMobile img {
  display: none;
}

@media (max-width: 769px) {
  .NavBarList {
    flex-direction: column;
    position: absolute;
    top: 12rem;
    right: 0;
    width: 75vw;
    height: 80vh;
    align-items: center;
    border-radius: 0 0 0 7.5rem;
    background: chartreuse;
  }

  .NavBarList li {
    opacity: 0;
  }

  .MenuMobile img {
    display: block;
  }

}
